<%= current_user.username %>
<p>Eventually there will be a search method here...</p>


<% for user in @users %>
  <div class="user">
    <p>
      <strong><%=h user.username %></strong>
      <%= link_to "Add Friend", friendships_path(:friend_id => user) %>
      <div class="clear"></div>
    </p>
  </div>
<% end %>